MONGODB_URL=#create mongodb collection and paste URL here
JWT_SECRET=#any secret string to sign your applications' JWT
PORT=#port of this service
AUTOMATION_IP=#IP/DOMAIN of where other automation API with docker is running
AUTOMATION_PORT=#PORT of automation API
AUTOMATION_URL=#Full URL of Automation API
DEFAULT_TEMPLATE=#import templates.json file in your database and add default templates' _id
